body{
    background-color: rgb(180, 62, 235);
}
h1{
    text-align: center;
    color: navy;
    font-family: cursive;
}
.changeBg{
    padding-top: 1%;
    padding-left: 45%;
}
button{
    padding: 8px 20px;
    border-radius: 20px;
    background-color: rgb(233, 159, 145);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.mg-box{
    background-color: cornsilk;
    display: grid;
    align-content: center;
    justify-content: center;

}
#submitBtn{
    background-color: black;
    color: aliceblue;
}
#msg{

}
.msg-cont{
    width: fit-content;
}
h4{
    margin-bottom:.7em;
    text-align: center;
}
.feedback{
    max-width: 50vw;
}

