@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,600&display=swap');
:root{
    --font1: #153ef5;
    --font2: rgb(65, 44, 171);
    --bg1: rgb(15, 124, 15);
    --black: black;
    --white: #f9f4f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
}
h1{
    color: var(--font1);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px 60px 0px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search-input{
    width: 40%;
    max-width: 400px;
    padding: 10px;
    font-size: large;
    color: var(--font2) ;
}
#search-btn{
    width: 120px;
    padding: 10px;
    font-size: large;
    color: var(--white);
    background-color: var(--bg1);
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}
.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto ;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    overflow:hidden;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.search-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}
.search-result:hover img {
    opacity: 0.8;
}
.search-result a {
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
#showmore-btn{
    width: 200px;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    color: var(--white);
    background-color: var(--font1);
    display: block;
    cursor: pointer;
    margin: 30px auto;
    border-radius: 5px;
    display: none;
}
/* making it responsive*/
@media screen and (max-width: 760px) {
    .search-results{
        padding: 20px;
    }
    .search-result{
        width:45%;      
    }
}
@media screen and (max-width: 480px) {
    .search-result{
        width:100%;
    }
}